# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=admin_test
DB_PASSWORD=Hn7AxEjDamsr8zhG
DB_NAME=admin_test

# JWT 密钥
JWT_SECRET=your_jwt_secret_key

# 服务器端口
PORT=3007

# 环境
NODE_ENV=production
